@page
@model MyAirport.Razor.Pages.Vols.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vol</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vol.CIE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vol.CIE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vol.LIG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vol.LIG)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vol.DHC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vol.DHC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vol.PKG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vol.PKG)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vol.IMM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vol.IMM)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vol.PAX)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vol.PAX)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vol.DES)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vol.DES)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Vol.VolId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
